.about1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
 
}

.background {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
}

.glass1{
  background: linear-gradient(
    135deg,
    rgba(208, 15, 15, 0.1),
    rgba(212, 16, 16, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(85, 75, 75, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  margin-left: end;

  }

.card1 {
  margin-right: 20px;
  object-fit: cover;
 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.h1Max {
  margin: 20px 0;
}

.about-text {
  margin: 20px 0;
}

.descriptionP {
  margin-top: 10px;
  margin-bottom: 20px;
}

.rating {
  margin-top: 10px;
  margin-bottom: 20px;
}

.span1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button1{
  position: absolute;
  top: 10px;
  right: 20px;
  left: 85%;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  font-size: 24px;
}
.button1:hover {
  background: transparent;
  border: 2px solid ;
}  

.button2 {
  border: 1px solid ;
  border-radius: 10px;
  background-color: transparent; /* Green */
  color: rgb(168, 102, 102);
  padding: 10px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  
}
.button2:hover {
  background: transparent;
  border: 1px solid ;
  cursor: pointer;
  
}  
.description{
  text-shadow: #f0f0f0;
  font-size: 30px;
  color: white;
  background-image: linear-gradient(to right,#ff0066, #ff6600);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.copete{
  font-size: 25px;
  color: #f0f0f0;
}
.h1Max{
  font-size: 40px;
  background-image:  linear-gradient(to right, #ff0066, #ff6600);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll {
  overflow: auto;
}


@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end
    
  }
  
  .glass1 {
    width: 50%;
    margin: 20px 0;
    justify-content: center;
 
   
  }
 
  .card1 {
    margin-right: 40px;
    max-width: 300px;
    margin-left: 50px;
  }
  
  .span1 {
    margin-bottom: 0;
  }
}